<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'main/css/main.css'}">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/na.jpg' %}" alt="Лого">
        <span class="logo">Nazarov.live</span>
        <h3>Навигация</h3>
        <ul>
            <a href=""></a><li>Главная</li></a>
            <a href=""></a><li>Про нас</li></a>
            <a href=""></a><li>Контакты</li></a>
        </ul>
    </aside>
</body>
</html>